.App {
  font-family: sans-serif;
  text-align: center;
}
.table {
  margin: auto;
  padding: 10px;
}
tr {
  margin: 5px;
}
td {
  padding: 3px 10px;
  text-align: left;
}
#fullname {
  background-color: powderblue;
}
#name {
  background-color: rgb(203, 205, 206);
}
#email {
  background-color: rgb(241, 193, 203);
}
#mail {
  background-color: plum;
}
.refresh {
  padding: 5px 10px;
  border-width: 1px;
  border-radius: 10px;
  border: 1px solid rgb(55, 55, 228, 0.5);
  background-color: rgb(172, 196, 240);
}
